{% extends 'shop_app/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Welcome to {{title}}</h1>
        <h3>Look what we have new here</h3>
    </div>
    <div class="main_page_style">
        {% for prod in goods %}
            <p class="main_page_style2">{{ prod }}<br><img src="{{ prod.file.url }}" style="max-height: 200px;"></p>
        {% empty %}
            <p style="margin-left: 48%;">No products added yet :(</p>
        {% endfor %}
    </div>

{% endblock content %}