{% extends 'shop_app/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
    <div class="features">
        <h3 style="margin-left: 19%;">Add new product</h3>
            <form action="/new_goods/" method="post" ,="" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Name: 
        <input type="text" name="name" maxlength="50" required="" id="id_name">
      </p>
      <p>Description<br>
        <textarea name="description" cols="40" rows="10" maxlength="200" required="" id="id_description"></textarea>
      </p>
      <p>
        <label for="id_file">File:</label>
        <input type="file" name="file" accept="image/*" required="" id="id_file">
      </p>
      <button name="submit" style="margin-left: 9%;">Add product</button>
            </form>
    </div>
    

{% endblock content %}