body {
    background: #2c2c2c;
    margin: 0%;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 0 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

.eshop_margin{
    height: 20px;
}

aside .logo {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    padding-top: 100px;
}

aside h3 {
    margin-top: 35px;
    font-size: 20px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: red;
    transform: scale(1.1);
}

aside .navig {
    text-decoration: none;
}

aside .navig_login {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

aside .navig_login2 {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    transition: all .6s ease;
}

main .features {
    text-align: center;
    color: #fff;
    margin-top: 0%;
}
main .features h1 {
    margin-top: 0%;
    padding-top: 40px;
}

main .features h3 {
    margin-top: 0%;
    padding-top: 20px;
}

main .contacts {
    text-align: right;
    color: rgb(255, 255, 255);
    margin-right: 15px;
}

main .features a {
    color: #fff;
}

main .main_page_style {
    display: flex;
    flex-wrap: wrap;
}

main .main_page_style2 {
    width: 50%;
}

main .product {
    color: #fff;
}

main .product h3 {
    margin-top: 0%;
    padding-top: 20px;
}

main .login_space {
    height: 50px;
    width: 50px;
}

main .register {
    color: #fff;
    margin-top: 0%;
}

main .register ul {
    list-style:none ;
}