{% extends 'shop_app/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
    <div class="features">
        <h3>Add new product</h3>

        <form action="{% url 'shop_app:new_goods' %}" method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button name="submit">Add product</button>
            <!-- <input type="hidden" name="csrfmiddlewaretoken" value="xKPrUr0WKHzKqr1Ttsp3ajWohP94NhxdiFxTUE9Vh1m28gG7CQGNs5qN2MNH8gtL">
            <p>
                Name<br><input type="text" name="name" maxlength="50" required="" id="id_name">
            </p>
            <p>
                Description<br><textarea name="description" cols="40" rows="10" maxlength="200" required="" id="id_description"></textarea>
            </p>-->
            
        </form>
    </div>
    

{% endblock content %}